{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}

{% block content %}
        <div class="header header-filter article-head" style="background-image: url('{{ SITEURL }}/theme/assets/img/background.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="title">{{ article.title }}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="main main-raised">
            <div class="container"><br />
            <div class="row">
                    <div class="col-sm-8 col-md-8 col-sx-12 col-lg-9">
                    <div class="article-contenido">
                        {{ article.content }}
                    </div>
                    {%include 'meta.html'%}
                    <div class="sharethis-inline-share-buttons">
                        
                    </div>
                    <div><h4>Comentarios</h4>
                        {% include 'disqus.html' %}
                    </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-sx-12 col-lg-3"><br />
                        {% include 'twitter-sidebar.html' %}
                        {% include 'adsense-sidebar.html' %}
                    </div>
                </div>
                {% include 'adsense-footer.html' %}
                <br />
            </div>
        </div>
{% endblock %}
