<nav class="navbar navbar-fixed-top navbar-color-on-scroll">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://davfl.com.mx/">David León</a>
        </div>

        <div class="collapse navbar-collapse" id="navigation-example">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/archives.html">
                        <i class="fa fa-archive"></i> Base de Conocimientos
                    </a>
                </li>
                <li>
                    <a href="https://poetadeocasion.wordpress.com/" title="Blog" target="_blank">
                        <i class="fa fa-heart-o"></i> d'Ocasión
                    </a>
                </li>
                <li>
                    <a href="https://haridandleon.wordpress.com/" title="Entretenimiento" target="_blank">
                        <i class="fa fa-rebel"></i> Otros
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/jelidleon" target="_blank" class="btn btn-simple btn-white btn-just-icon">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/eisenheimjelid/" target="_blank" class="btn btn-simple btn-white btn-just-icon">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.tumblr.com/blog/jelid" target="_blank" class="btn btn-simple btn-white btn-just-icon">
                        <i class="fa fa-tumblr"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>